.menu-handle {
  display: none;
}

@media only screen and (max-width: 1126px) {
  .menue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  #responsive-menus-no-toggle {
    left: -100%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(120, 54, 15, 0.645),
        rgba(120, 54, 15, 0.645)
      ),
      url(https://i.ibb.co/py7p0Kc/banner-2-bg-2.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
  }

  div#responsive-menus-no-toggle {
    width: 90%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  #responsive-menus-no-toggle ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  #responsive-menus {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(120, 54, 15, 0.645),
        rgba(120, 54, 15, 0.645)
      ),
      url(https://i.ibb.co/py7p0Kc/banner-2-bg-2.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
  }
  #responsive-menus ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .menu-link {
    color: #fff !important;
    margin-top: 1rem;
    margin-left: 20 px;
  }

  /*----------Responsive Toggle Menu Icon--------*/
  .menu-handle {
    display: block;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
  }
  .menu-handle:hover {
    color: #e83a3b;
  }
}
